:root {
  --primary-color: #CB6CE6;
  --white-color: #ffffff;
  --dark-color: #261d6493;
  --blue-color: #271D64;
  --about-bg-color: #f9f9f9;
  --gray-color: #616060;
}

html, body {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  --scroll-behavior: smooth;
  scroll-behavior: smooth; 
  background-color: #f9f9f9;
  margin: 0;
}

h1, h2, h3, h4, p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 5vw;
  color: var(--white-color);
}

h2 {
  font-size: 3vw;
  color: var(--primary-color);
  line-height: 1.3;
}

h3 {
  font-size: 3vw;
  color: var(--white-color);
}

h4 {
  font-size: 1.5vw;
  color: var(--gray-color);
}

p {
  font-size: 1.3vw;
  color: var(--blue-color);
}

nav {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 5vw;
  overflow: hidden;
  background-color: var(--blue-color);
  z-index: 2;
}

nav a.logo {
  float: left;
  margin: -1% 5%;
  font-size: 3vw;
}

nav .tab {
  padding-left: 45vw;
  width: 100vw;
}

nav a {
  float: left;
  padding: 2% 2%;
  height: 1vw;
  width: 9vw;
  display: block;
  color: var(--white-color);
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2vw;
}

nav a:hover:not(.active) {
  color: var(--primary-color);
}

nav a.active {
  color: var(--primary-color);
}

nav .icon {
  display: none;
}

.bg-overlay {
  background: var(--dark-color);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0.85;
}

.home {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: relative;
  top: 0;
}

.home_container {
  position: absolute;
  width: 70vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.home_btn {
  border-style: solid;
  border-color: var(--primary-color);
  border-width: -1%;
  position: absolute;
  transform: translate(-50%, 40%);
  padding: 2%;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2vw;
  color: var(--white-color);
}

.home_btn:hover {
  background-color: var(--white-color);
  border-color: var(--white-color);
  color: var(--primary-color);
}

.about {
  position: relative;
  width: 100vw;
  min-height: 35vw;
}

.about_container {
  position: relative;
  width: 100vw;
  top: 10vh;
  left: 0vw;
  padding-bottom: 10vw;
}

.about .row {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  margin-left: 14vw;
}

.about .column {
  flex: 1%;
  width: 35vw;
  text-align: left;
  float: left;
  line-height: 1.6;
}

.about img {
  max-width: 30vw;
  max-height: 50vh;
  width: auto;
  height: auto;
  margin-left: 10vw;
  margin-top: -4vw;
}

.projects {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--white-color);
}

.projects_container {
  position: relative;
  width: 100vw;
  top: 10vh;
  left: 0vw;
  padding-bottom: 10vw;
  line-height: 1.6;
  text-align: center;
}

.projects .row {
  margin-left: 2vw;
  display: flex;
  flex-wrap: wrap;
}

/* Add padding BETWEEN each column (if you want) */
.projects .row,
.projects .row>.projects .column {
  padding: 1%;
}

/* Create three equal columns that floats next to each other */
.projects .column {
  flex: 1%;
  text-align: left;
  float: left;
  margin-right: 3vw;
  box-shadow: 6px 0 38px rgba(20, 20, 20, 0.10);
}

.content {
  background-color: white;
  padding: 2%;
}

.content h2 {
  font-size: 2.5vw;
}

.contact {
  position: relative;
  width: 100vw;
}

.contact_container {
  position: relative;
  width: 40vw;
  left: 10vw;
  line-height: 1.6;
}

.contact .row {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.contact .column {
  width: 10vw;
  float: left;
  flex: 5%;
  padding: 2% 5%;
  text-align: center;
  line-height: 3;
}

.fa {
  padding: 10%;
  margin-top: 1vw;
  font-size: 2vw;
  width: 2vw;
  text-decoration: none;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--blue-color);
}

.contact .fa:hover {
  background-color: var(--blue-color);
  color: var(--primary-color);
}

.contact a {
  text-align: center;
  text-decoration: none;
}

.contact p:hover {
  color: var(--primary-color);
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {

  h1 {
    font-size: 10vw;
  }

  h2 {
    font-size: 4.5vw;
  }

  h3 {
    font-size: 4.5vw;
  }

  h4 {
    font-size: 3vw;
  }

  p {
    font-size: 2.5vw;
  }

  nav .tab{
    margin-left: -10vw;
  }

  nav a {
    font-size: 1.5vw;
    width: 11vw;
    height: 1.2vw;
  }

  .home_btn {
    font-size: 2vw;
    border-width: 0.5vw;
  }

  .about .column {
    flex: 100%;
  }

  .about img {
    margin-left: 20vw;
    max-width: 50vw;
  }

  .projects {
    height: auto;
    padding-bottom: 10vh;
  }

  .projects .column,
  .projects .column>.projects .row {
    padding: 1%;
  }

  .projects .row {
    width: 80vw;
    margin-left: 10vw;
  }

  .projects .column {
    flex: 50%;
  }

  .contact .column {
    flex: 25%;
  }

  .content h2 {
    font-size: 3.5vw;
  }

  .contact .fa {
    padding: 5%;
    font-size: 4vw;
    width: 4vw;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  nav {
    padding: 0;
    min-height: 10vw;
  }

  nav a {
    display: none;
  }

  nav a.logo{
    display: block;
    font-size: 6vw;
    margin-top: 0vw;
  }

  nav a.icon {
    float: right;
    display: block;
  }

  .fa-bars {
    margin-top: 0vw;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-size: 4vw;
  }

  .fa-bars:hover {
    color: var(--primary-color);
  }

  .nav.responsive {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    background-color: var(--blue-color);
  }

  .nav.responsive a.icon {
    position: fixed;
    right: 0;
    top: 0;
    margin: 0;
  }

  .nav.responsive a.logo{
    display: none;
  }

  .nav.responsive a {
    float: none;
    display: block;
    text-align: center;
    width: 20vw;
    font-size: 2vw;
    margin-left: 0vw;
    margin-top: 2vw;
    padding: 2% 2%;
    height: 5vw;
  }

  .about .row {
    flex-direction: 50%;
  }

  .projects .row {
    width: 80vw;
    margin-left: 10vw;
    flex-direction: column;
  }

  .contact .row {
    flex-direction: 25%;
  }
}